* {
  font-family: Arial, Helvetica, sans-serif;
}

#title_inner_text {
  color: #022836;
  font-size: 26px;
}

#title_text {
  display: flex;
  justify-content: space-between;
}
.title_text_left {
  width: 200px;
}
.title_img {
  height: 152px;
}
.title_img_2 {
  width: 200px;
}

.container {
  margin: 20px;
  display: flex;
}

.sidebar {
  height: 700px;
  padding: 10px 30px;
  position: sticky;
  top: 5px;
  margin: 20px 25px 0px 0px;
  background-color: #022836;
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 25px;
  max-width: 200px;
}

.title {
  font-weight: 500;
  border-bottom: solid;
}

.sidebar__section li:hover {
  background-color: #223c18;
  font-size: large;
  transition: ease;
}

.recent {
  background-color: #0679a3;
  width: 50px;
  height: 20px;
  padding: 5px;
  display: inline-block;
  position: relative;
  animation-name: checkItOut;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes checkItOut {
  0% {
    background-color: red;
    left: 0px;
  }
  25% {
    background-color: rgb(191, 86, 0);
    left: 20px;
  }
  50% {
    background-color: rgb(149, 0, 132);
    left: 20px;
  }
  75% {
    background-color: rgb(189, 0, 101);
    left: 0px;
  }
  100% {
    background-color: red;
    left: 0px;
  }
}

.chapter-block {
  text-align: center;
  /* background-color: #0679a3; */
  color: #022836;
  margin-bottom: -10px;
  /* margin-bottom: 0px; */
  padding: 3px;
  font-size: 45px;
  border-bottom: #bdbdbd solid 1px;
  /* border: solid 5px #022836; */
  /* border-radius: 30px; */
  /* margin-bottom: 0px; */
}
.chapter-title {
  background-color: #022836;
  color: #f4f4f4;
  padding: 10px;
  border-radius: 10px;
}
.chapter {
  margin: 0 10%;
}

#quote {
  display: inline-block;
  position: relative;
  top: 0px;
  left: 7px;
  color: #4dff00;
  font-size: 60px;
  font-family: cursive;
}
#dash {
  color: #4dff00;
  margin: -13px;
}
.homework {
  margin-bottom: 25px;
}

.demo {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgb(37, 169, 0);
  width: 90px;
  font-size: 16px;
  text-decoration: none;
  border-radius: 15px;
  padding: 5px;
  font-weight: bolder;
  transition: width 1s, transform 1s;
  text-align: center;
}
.demo:hover {
  background-color: #ff0000;
  color: black;
  width: 100px;
  transition: ease-in-out;
  border: solid rgb(140, 0, 0) 2px;
}
li {
  padding-left: 5px;
}

.page__content li:nth-child(even) {
  background: rgb(206, 251, 251);
  padding: 3px 5px;
  /* max-width: 600px; */
  border-radius: 9px;
}

footer {
  height: 700px;
  background-color: #022836;
  background-image: url("images/5.avif");
  background-size: 100%;
  background-repeat: no-repeat;
}
.footer {
  font-size: small;
  padding: 50px;
  color: white;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 500px) {
  .title_img {
    display: none;
  }
}

@media (min-width: 2000px) {
  body {
    margin: 0 10%;
  }
}
@media (min-width: 2560px) {
  .big-container {
    margin: 0 15%;
  }
}
