* {
    font-weight: lighter;
    font-family: "Press Start 2P", sans-serif;
}

.container{
    background-color: #272626;
    width: 90%;
    max-width: 850px;
    border: solid rgb(170, 168, 110) 1px;
    border-radius: 20px;
}

body {
    margin: 0;
    font-family: 'Monoton', cursive;
    background-color: #222020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    margin: 5% 10%;
    background-color: #000000;
    color: #ffffff;
    border: #fff solid 8px;
    border-radius: 15px;
    text-align: center;
    padding: 50px 50px 0px 50px;
    max-width: 600px;
}

.between {
    margin-top: 10px;
}

.game-navigation {
    background-color: #000000;
    color: #ffffff;
    border: #585757 solid 2px;
    border-radius: 15px;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
}


h1 {
    font-size: 60px;
    padding: 5px;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 20px 0px;
}

.top-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #fff;
    padding: 5px;
}

/* Wrong Animation */
.wrongAnime {
    position: relative;
    animation-name: wrongAnimation;
    animation-duration: .2s;
}

@keyframes wrongAnimation {
    0% {
        background-color: rgb(138, 0, 0);
        left: 150px;
    }
    25% {
        background-color: rgb(138, 0, 0);
        left: -150px;
    }
    50% {
        background-color:rgb(255, 0, 0);
        left: 150px;
    }
    75% {
        background-color:#9c0000;
        left: -150px;
    }

    100% {
        background-color: black;
        left: 150px;
    }
}
/* win Animation */
.winAnime {
    position: relative;
    animation-name: winAnimation;
    animation-duration: 1s;
}

@keyframes winAnimation {
    0% {
        transform: rotate(0deg);
        left: 0px;
    }
    25% {
        transform: rotate(20deg);
        left: 0px;
    }
    50% {
        transform: rotate(0deg);
        left: 500px;
    }
    55% {
        transform: rotate(0deg);
        left: 500px;
    }
    70% {
        transform: rotate(0deg);
        left: 500px;
        background: #1ec7e6;
    }
    100% {
        transform: rotate(-360deg);
        left: 0px;
        background: gold;
    }
}

.hidden{
    display: none;
}

.label-highscore {
    color: gold;
}

.number {
    background: #000;
    color: #fff;
    border-radius: 20px;
    border: #fff 6px solid;
    font-size: 6rem;
    width: 15rem;
    padding: 3rem 0rem;
    margin-bottom: 20px;
    transition: width 0.5s ease-in-out;
}


.message {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

.btn {
    border: none;
    background-color: #eee;
    color: #000000;
    font-size: 14px;
    font-family: inherit;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ccc;
}

.guess-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 8px;
    font-size: 16px;
    width: 70px;
    text-align: center;
    border: none;
    border-radius: 4px;
}

.guess-history {
    list-style: none;
    padding: 0;
    margin: 15px;
    text-align: left;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
}

.guess-history li {
    margin-bottom: 5px;
}

.sound-toggle {
    display: none;
}

label {
    display: inline-block;
}

/* suresh */
/* 
@media screen and (max-width: 399px) {
    body {
        background-color: lightslategray;
    }
 
    header {
        width: 60%;
    }
    .game-navigation {
        width: 180%;
    }
}
 
@media screen and (min-width: 400px) and (max-width: 799px) {
    body {
        background-color: lightcyan;
    }
 
    header {
        width: 60%;
    }
    .game-navigation {
        width: 180%;
    }
}
 
@media screen and (min-width: 800px) and (max-width: 1499px) {
    body {
        background-color: lightsteelblue;
    }
 
    header {
        width: 60%;
    }
    .game-navigation {
        width: 180%;
    }
}
 
@media screen and (min-width: 1500px) and (max-width: 2499px) {
    body {
        background-color: lightyellow;
    }
 
    header {
        width: 60%;
    }
    .game-navigation {
        width: 180%;
    }
}
 
@media screen and (min-width: 2500px) {
    body {
        background-color: lightblue;
    }
 
    header {
        width: 60%;
    }
    .game-navigation {
        width: 180%;
    }
}
  */